.hero {
   height: 100vh;
   text-align: center;
   background: var(--dark);
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero h1 {
   font-size: 3.75rem;
   color: var(--lighter);
}

.hero h2 {
   font-size: 2rem;
   color: var(--light);
}

