.skills {
   font-family: 'Sora', sans-serif;
   height: 100vh;
   background-color: var(--dark);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: Center;
}

@media (max-width: 60rem) {
   .header {
      margin-bottom: 2rem;
   }
}
.skills > div {
   width: min(50rem, 85%);
}

.header {
   text-align: center;
   color: var(--bright);
   font-size: 3rem;
}
.headers {
   margin-top: 2rem;
   color: var(--lighter);
   font-size: 1.5rem;
}
.list {
   margin-top: 1.5rem;
   display: flex;
   justify-content: space-between;
}

.list > *:hover {
   transform: scale(1.2);
}

